@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
  background-color: #f2f4fb;
}
.bg-primary {
  background-color: #192965;
}
.bg-secondary {
  background-color: #ffa34d;
}

.bg-success {
  background-color: #1eb2a6;
}

.bg-danger {
  background-color: #f67575;
}

.bg-light {
  background-color: #f2f4fb;
}

.bg-dark {
  background-color: #393e46;
}

.white {
  color: #f2f4fb;
}

a {
  text-decoration: none;
  margin: 5px;
}

li {
  list-style-type: none;
}

.btn {
  padding: 5px 20px;
  color: white;
  border: none;
  margin-right: 10px;
  margin-top: 10px;
}

.nav-btn {
  margin: 0px 20px;
  padding: 5px 20px;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
}
.nav-btn span {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* **************NavBar************** */

.navbar {
  height: 50px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .brand {
  display: flex;
  align-items: center;
}
.navbar .menu {
  display: flex;
  align-items: center;
}
/* **********App********** */
.container {
  margin: 0px 5%;
  padding: 20px 0;
  height: 100vh;
}

/* *************Contacts************* */

.no-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 5px;
}

/* ************ContactItems************ */

.card {
  padding: 15px;
  margin: 15px;
  border: 1px solid grey;
  line-height: 35px;
}
.badge {
  font-size: 13px;
  font-weight: 100;
  float: right;
}

/* *********Home********** */

.home-container {
  display: flex;
  justify-content: space-evenly;
}

.contact-form {
  width: 60%;
}

.contacts {
  width: 30%;
}

.contacts form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
}
.contacts input {
  padding: 8px;
  font-size: 17px;
}

/* *********ContactForm************* */
.form-group {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
  line-height: 35px;
}
.form-group input {
  width: 40%;
  height: 30px;
  padding: 5px;
  font-size: 15px;
}

.form-group-radio {
  line-height: 35px;
}
.form-group-radio input {
  margin: 0px 20px;
}

form .btn {
  width: 40%;
}

/* *************Alert************** */

.alert {
  padding: 10px;
  margin: 10px 0px;
  color: #f2f4fb;
  display: flex;
  align-items: center;
}

.alert span {
  margin-left: 10px;
}

/* **********Spinner************** */

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
